<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>

<body>
    <mat-toolbar>
        <h1>Todo Manager</h1>
    </mat-toolbar>

    <button color="primary" mat-raised-button (click)="ngOnInit()">Refresh</button>
    <button color="accent" mat-raised-button (click)="toggleInputCard()">Create New</button>

    <mat-card *ngIf="inputCard">
        <br>
            <mat-form-field>
                <input matInput placeholder="Summary" [(ngModel)]="newTodo.summary">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Description" [(ngModel)]="newTodo.description">
            </mat-form-field>

        <mat-card-actions>
            <button color="primary" mat-raised-button (click)="addNewTodo()">Save Todo!</button>
        </mat-card-actions>
    </mat-card>

    <table mat-table [dataSource]="todos" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let todo">{{ todo.id }}</td>
        </ng-container>

        <ng-container matColumnDef="summary">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let todo">{{ todo.summary }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let todo">{{ todo.description }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Operation</th>
            <td mat-cell *matCellDef="let todo">
                <button color="warn" mat-button (click)="removeTodo(todo.id)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'summary', 'description', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'summary', 'description', 'actions']"></tr>
    </table>



</body>

</html>